/*FONTS*/
.principal {
 font-family: 'Kaushan Script', cursive;
}

.secundaria {
 font-family: 'Open Sans', sans-serif;
}

/*Requerimientos del sticky footer*/
body {
	margin: 0;
    display: flex;
	width: 100vw;
	min-height: 100vh;
    flex-direction: column;
	/*background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);*/
    background: linear-gradient(to bottom, #614385, #516395);
}

  main {
    flex: 1 0 auto;
  }

/*Social Network*/
#social-net {
    font-size: 1.6rem;
    position: fixed;
    right: 2vh;
    top: 35vh;
    width: 40px;
    z-index: 4;
    text-align: center;
}

a {
 color: white;
}

/*Skills*/
.languages {
 height: 30px;
 width: 30px;
}